# Database
DATABASE_URL=postgresql://user:password@postgres:5432/bottrading?schema=public

# Redis
REDIS_URL=redis://redis:6379

# JWT
JWT_SECRET=supersecretjwtkey
JWT_EXPIRES_IN=1d

# OpenAI
OPENAI_API_KEY=

# App
NODE_ENV=development
PORT=3000
